*{
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
}
p {
	margin-top: 3px;
	font-size: 16px;
}
a {
	text-decoration: none;
	color: black;
}
.nav a {
	color: black;
}
.nav a:visited {
	text-decoration: none;
}
.black {
	text-decoration: none;
	color: black;
}
.header {
	display: grid;
	align-items: center;
	max-width: 1440px;
	margin: auto;
}
.logo {
	grid-area: logo;
	padding: 0 32px;
	height: 45px;
}
.nav {
	display: flex;
	align-items: center;
	grid-area: navbar;
}
.header_link {
	padding: 32px;
	font-weight: 500;
	text-align: center;
	transition-duration: 0.1s;
	border-top: 3px transparent solid;
	border-bottom: 3px transparent solid;
}
.header_link[data-active="true"] {
	color: #0065FC;
}
.header_link:hover {
	color: #0065FC;
}
.signup {
	display: flex;
	align-items: center;
	grid-area: button;
	padding: 2rem;
	color: #0065FC;
	font-weight: 600;
}

@media screen and (min-width: 601px) {
	.header {
		grid-template-columns: auto 1fr auto auto;
		grid-template-areas: "logo . navbar button";
	}
	.header_link[data-active="true"] {
		border-top: 3px solid #0065FC;
	}
	.header_link:hover {
		border-top: 3px solid #0065FC;
	}
}

@media screen and (max-width: 600px) {
	.header {
		grid-template-columns: auto 1fr auto;
		grid-template-areas: "logo .button" "navbar navbar navbar";
	}
	.logo {
		order: 0;
	}
	.signup {
		order: 1;
	}
	.nav {
		order: 2;
	}
	.header_link {
		border-top: none;
		border-bottom: 3px solid #F2F2F2;
		width: 50%;
	}
	.header_link[data-active="true"] {
		border-bottom-color: #0065FC;
	}
	.header_link:hover {
		border-bottom-color: #0065FC;
		border-bottom: 3px solid #0065FC;
	}
}

.main {
  max-width: 1440px;
  margin: auto;
  padding: 0 32px;
  box-sizing: border-box;
}
.txt {
	margin-top: 40px;
	margin-left: 20px;
	font-size: 12px;
}
.txt h1 {
	font-style: bold;
}
.box {
	position: absolute;
	margin-top: 40px;
	margin-left: 240px;
	width: 500px;
	height: 50px;
	transform: translate(-50%,-50%);
}

form {
  margin-top: 15px;
  margin-left: 25px;
  display: flex;
  flex-wrap: nowrap;
}
.placeholder::input-placeholder{
    font-weight: 800;
    color:black;
}

form > input,

form i:first-child {
  border: #ececec solid 1px;
  padding: 13px;
  outline: none;
}
form > i:first-child {
  background-color: #ececec;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 15px;
}
form i:last-child {
  display: none;
}
form input:nth-child(3) {
  background-color: #0065fc;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 700px;
  border: none;
  cursor: pointer;
}

.searching {
	font-weight: bold;
}

@media (max-width: 650px) {
	.searching {
		display: none;
	}
}
.move__left {
	margin: -4px;
}

.Filter {
	padding: 0 16px;
	display: flex;
	margin-top: 100px;
	flex-wrap: wrap;
}
.FilterTitle {
	font-weight: bold;
	font-size: 18px;
	margin-top: 0 32px 16px 0;
	display: flex;
	align-items: center;
}
.FilterBtn {
	display: inline-flex;
	align-items: center;
	margin-right: 32px;
	border: 2px solid #D9D9D9;
	border-radius: 32px;
	margin-bottom: 16px;
	cursor: pointer;
	transition-duration: .1s;
	font-weight: bold; 
}
.FilterBtn:last-child {
	margin-right: 0;
}
.FilterBtn:hover {
	transform: scale(1.015);
}
.FilterIcon {
	color: blue;
	background-color: #DEEBFF;
	border-radius: 100%;
	height: 48px;
	width: 48px;
	min-height: 56px;
	min-width: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -2px;
}
.FilterTitle {
	margin: 0 16px;
}
.FilterIconTitle {
	padding-left: 10px;
	padding-right: 10px;
}
.Info {
	display: flex;
	align-items: center;
	margin: 16px 0 32px 0;
}
.FilterInfo {
	color: #0065FC;
	height: 32px;
	width: 32px;
	min-height: 32px;
	min-width: 32px;
	border: solid 1px #D9D9D9;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 16px;
}
.InfoText {
	margin: 0;
}

.host {
	display: grid;
	column-gap: 32px;
	grid-template-columns: 6fr 3fr;
}
.hosting {
	display: grid;
	column-gap: 32px;
	row-gap: 32px;
}
.hostingHeader {
	grid-column: 1/-1;
}
.hostingHeaderTitle {
	margin: 0;
}
.hostingArt {
	background-color: white;
	padding: 6px;
	border-radius: 20px;
	box-shadow: 0 0 16px #0000002e;
	transition-duration: 0.1s;
	cursor: pointer;
	box-sizing: border-box;
	height: 100%;
}
.hostingArt:hover {
	transform: scale(1.02);
	box-shadow: 0 0 12px #0000002e;
}
.hostingArtFigure {
	margin: 0;
}
.hostingImg {
	height: 7rem;
	object-fit: cover;
	max-width: 100%;
	width: 100%;
	max-height: 100%;
	border-radius: 1rem 1rem 0 0;
}
.hostingImgFigcaptionH3 {
	margin: 0.25rem 0.75rem 0 0.75rem;
}
.hostingPrice {
	margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}
.hostingPrice strong {
	font-weight: bold;
}
.hostingNotation {
	margin: 0 0.75rem 0.25rem 0.75rem;
}
.hostingNotationIcon {
	color: #0065FC;
}
.hostMore{
	font-weight: bold;
	font-size: 18px;
}
.hosting_background {
	background-color: #f2f2f2;
  	border-radius: 30px;
  	padding: 49px 41px;
  	min-width: 410px;
}

.popular {
	display: grid;
	row-gap: 32px;
	align-items: start;
	grid-template-rows: auto repeat(3, 1fr);
}
 .mostPopular {
	 margin: 0;
	 display: flex;
	 justify-content: space-between;
 }
.popular_content {
	display: flex;
	align-items: stretch;
	height: 100%;
	overflow: auto;
}
.popularArtFigure {
	position: relative;
	min-height: 100%;
	width: 33%;
	min-width: 33%;
	max-width: 33%;
}
.popularImg {
	border-radius: 16px 0 0 16px;
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.popular_inner_content {
	display: flex;
	flex-direction: column;
}
.popular_inner_content_space {
	flex: 1;
}
.popular_background {
	background-color: #f2f2f2;
  	border-radius: 30px;
  	padding: 49px 41px;
  	min-width: 410px;
}
@media (max-width: 1440px) {
	.host {
		grid-template-columns: 1fr;
		row-gap: 32px;
	}
	.popular {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto 10rem;
		column-gap: 2rem;
		grid-row-start: 1;
	}
	.mostPopular {
		grid-column: 1/-1;
	}
}

@media (min-width: 925px) {
	.hosting {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 925px) and (min-width: 650px) {
	.hosting {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 650px) {
	.hosting {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 1000px) {
	.mostPopular {
		grid-template-columns: 1fr;
		grid-template-rows: auto repeat(3, 9rem);
	}
}


@media (max-width: 672px) {
	.popular {
		grid-template-columns: 1fr;
	}
}
.activity {
	margin-bottom: 30px;
}
.activity_title {
	margin: 15px;
}
.activity_card_title {
	margin: 5px;
    margin-left: 15px;
}
.activity_global_card {
	display: grid;
    grid-template-rows: repeat(6, 180px);
    row-gap: 15px;
}
.activity_img {
	border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 140px;
    object-fit: cover;
	overflow: hidden;
	width: 100%;
}
.activity .activity_card_1,
.activity .activity_card_2,
.activity .activity_card_3,
.activity .activity_card_4,
.activity .activity_card_5,
.activity .activity_card_6 {
	background-color: white;
    border-radius: 15px;
    filter: drop-shadow(0 0 4px #ccc);
    height: 100%;
    margin: 15px;
}

@media screen and (min-width: 768px) {
	.activity {
        margin-bottom: 0px;
	}
    .activity_global_card {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 180px 180px 180px 50px;
    }
    .activity a {
        height: 100%;
    }
}

@media screen and (min-width: 992px) {
	.activity_global_card {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto 224px 32px 32px 32px 224px 50px;
        row-gap: 0px;
        column-gap: 10px;
    }
    .activity_card_title {
        font-size: 17px;
        padding: 10px
    }
    .activity_img {
        height: 100%;
        width: 100%;
    }
    .activity a {
        transform-origin: 50% 50%;
        transition: transform 0.1s linear;
    }
    .activity a:hover {
        transform: scale(1.02);
    }
    .activity_global_card .activity_card_1 {
        grid-row: 2/7;
        grid-column: 1/2;
    }
    .activity_global_card .activity_card_1 .activity_card_img {
        height: 90%
    }
    .activity_global_card .activity_card_2 {
        grid-column: 2/3;
        grid-row: 2/5;
    }
    .activity_global_card .activity_card_2 .activity_card_img {
        height: 80%
    }
    .activity_global_card .activity_card_3 {
        grid-column: 3/4;
        grid-row: 2/7;
    }
    .activity_global_card .activity_card_3 .activity_card_img {
        height: 90%;
    }
    .activity_global_card .activity_card_4 {
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .activity_global_card .activity_card_4 .activity_card_img {
        height: 70%;
    }
    .activity_global_card .activity_card_5 {
        grid-column: 2/3;
        grid-row: 6/7;
    }
    .activity_global_card .activity_card_5 .activity_card_img {
        height: 73%
    }
    .activity_global_card .activity_card_6 {
        grid-column: 4/5;
        grid-row: 4/7;
    }
    .activity_global_card .activity_card_6 .activity_card_img {
        height: 80%;
    }
}

.footer {
  background-color: #F2F2F2;
  width: 100%;
}
.footerColumnwrapper {
  display: flex;
  max-width: 100%;
  width: 1440px;
  margin: auto;
  padding: 0 32px;
  box-sizing: border-box;
}
.footerColumnwrapperColumn {
  width: 30%;
  padding: 32px 32px;
}
.footerColumnwrapperColumnLink {
  display: block;
  margin: 16px 0;
}
.footerColumnwrapperColumnLink:hover {
  text-decoration: underline;
}

@media (max-width: 650px) {
	.footerColumnwrapperColumnTitle {
		font-size: 12px;
	}
	.footerColumnwrapperColumnLink {
		font-size: 8px;
		padding-left: 18px;
	}
}