*{
	margin: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
}

p {
	margin-top: 3px;
	font-size: 16px;
}


a {
	text-decoration: none;
	color: black;
}

.nav a:visited {
	text-decoration: none;
	color: #0065FC;
}

.nav a{
	color: blue;
}
.nav h2 {
	font-size: 16px;
	font-weight: normal;
	color: black;
	padding: 30px;
	margin-top: 27px;
}

.nav h2:hover {
	color: #0065FC;
	transition: .5s;
}

.nav h3 {
	font-size: 16px;
	font-weight: normal;
	padding: 35px;
	border-top: 2px solid #0065FC;
}

.nav h4 {
	padding: 30px;
	margin-top: 27px;
}

.black {
	text-decoration: none;
	color: black;
}

.header {
	width: 100%;
	height: 80px;
	display: block;
}

.inner-header {
	width: 90%;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.logo {
	margin-top: 40px;
	height: 100%;
	display: table;
	float: left;
}

.nav {
	float: right;
	height: 100%;
}

.nav a {
	height: 100%;
	display: table;
	float: left;
	padding: 0px 20px;
}

.nav a:last-child {
	padding-right: 0;
}

.nav a li {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	font-size: 16px;
}

@media screen and (max-width:280px) {
	.logo {
		margin-top: 3px;
	}
	.nav h4 {
		margin-top: -350px;
		float: left;
		margin-right: -100px;
	}
}
.main {
  max-width: 1440px;
  margin: auto;
  padding: 0 32px;
  box-sizing: border-box;
}

.txt {
	margin-top: 40px;
	margin-left: 20px;
	font-size: 12px;
}

.txt h1 {
	font-style: bold;
}

.box {
	position: absolute;
	margin-top: 40px;
	margin-left: 240px;
	width: 500px;
	height: 50px;
	transform: translate(-50%,-50%);
}

form {
  margin-top: 15px;
  margin-left: 25px;
  display: flex;
  flex-wrap: nowrap;
}

.placeholder::input-placeholder{
    font-weight: 800;
    color:black;
}

form > input,

form i:first-child {
  border: #ececec solid 1px;
  padding: 13px;
  outline: none;
}

form > i:first-child {
  background-color: #ececec;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 15px;
}

form i:last-child {
  display: none;
}

form input:nth-child(3) {
  background-color: #0065fc;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-weight: 700px;
  border: none;
  cursor: pointer;
}

.move__left {
	margin: -4px;
}

.Filter {
	display: flex;
	margin-top: 100px;
	flex-wrap: wrap;
}

.FilterTitle {
	font-weight: bold;
	font-size: 18px;
	margin-top: 0 32px 16px 0;
	display: flex;
	align-items: center;
}

.FilterBtn {
	display: inline-flex;
	align-items: center;
	margin-right: 32px;
	border: 2px solid #D9D9D9;
	border-radius: 32px;
	margin-bottom: 16px;
	cursor: pointer;
	transition-duration: .1s;
	font-weight: bold; 
}

.FilterBtn:last-child {
	margin-right: 0;
}

.FilterBtn:hover {
	transform: scale(1.015);
}

.FilterIcon {
	color: blue;
	background-color: #DEEBFF;
	border-radius: 100%;
	height: 48px;
	width: 48px;
	min-height: 56px;
	min-width: 56px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: -2px;
}

.FilterTitle {
	margin: 0 16px;
}

.Info {
	display: flex;
	align-items: center;
	margin: 16px 0 32px 0;
}

.FilterInfo {
	color: #0065FC;
	height: 32px;
	width: 32px;
	min-height: 32px;
	min-width: 32px;
	border: solid 1px #D9D9D9;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 16px;
}

.InfoText {
	margin: 0;
}

.host {
	display: grid;
	column-gap: 32px;
	grid-template-columns: 6fr 3fr;
}

.hosting {
	display: grid;
	column-gap: 32px;
	row-gap: 32px;
}

.hostingHeader {
	grid-column: 1/-1;
}

.hostingHeaderTitle {
	margin: 0;
}

.hostingArt {
	background-color: white;
	padding: 6px;
	border-radius: 20px;
	box-shadow: 0 0 16px #0000002e;
	transition-duration: 0.1s;
	cursor: pointer;
	box-sizing: border-box;
	height: 100%;
}

.hostingArt:hover {
	transform: scale(1.02);
	box-shadow: 0 0 12px #0000002e;
}

.hostingArtFigure {
	margin: 0;
}

.hostingImg {
	height: 7rem;
	object-fit: cover;
	max-width: 100%;
	width: 100%;
	max-height: 100%;
	border-radius: 1rem 1rem 0 0;
}

.hostingImgFigcaptionH3 {
	margin: 0.25rem 0.75rem 0 0.75rem;
}

.hostingPrice {
	margin: 0.25rem 0.75rem 0.25rem 0.75rem;
}

.hostingPrice strong {
	font-weight: bold;
}

.hostingNotation {
	margin: 0 0.75rem 0.25rem 0.75rem;
}

.hostingNotationIcon {
	color: #0065FC;
}

.hostMore{
	font-weight: bold;
	font-size: 18px;
}

.popular {
	display: grid;
	row-gap: 32px;
	align-items: start;
	grid-template-rows: auto repeat(3, 1fr);
}

 .mostPopular {
	 margin: 0;
	 display: flex;
	 justify-content: space-between;
 }

.popular_content {
	display: flex;
	align-items: stretch;
	height: 100%;
	overflow: auto;
}

.popularArtFigure {
	position: relative;
	min-height: 100%;
	width: 33%;
	min-width: 33%;
	max-width: 33%;
}

.popularImg {
	border-radius: 16px 0 0 16px;
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.popular_inner_content {
	display: flex;
	flex-direction: column;
}

.popular_inner_content_space {
	flex: 1;
}

@media (max-width: 1440px) {
	.host {
		grid-template-columns: 1fr;
		row-gap: 32px;
	}

	.popular {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto 10rem;
		column-gap: 2rem;
		grid-row-start: 1;
	}

	.mostPopular {
		grid-column: 1/-1;
	}
}

@media (min-width: 925px) {
	.hosting {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 925px) and (min-width: 650px) {
	.hosting {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 650px) {
	.hosting {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 1000px) {
	.mostPopular {
		grid-template-columns: 1fr;
		grid-template-rows: auto repeat(3, 9rem);
	}
}

.activity {
	display: grid;
	column-gap: 2rem;
	margin: 4rem 0;
}

.activity_title {
	grid-column: 1/-1;
}

.activity_card {
	box-shadow: 0 0 20px black;
	border-radius: 1rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	transition-duration: 0.1s;
}

.activity_card:hover {
	transform: scale(1.01)
}

.activity_card_img{
	position: relative;
	flex: 1;
}

.activity_img{
	position: absolute;
	height: 100%;
	weight: 100%;
	object-fit: cover;
}

.activity_card_title{
	margin: 1.2rem 1.5rem;
}

@media (min-width: 1100px) {
	.activity {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
	}

	.activity_card1 {
		grid-row: 2/7;
		grid-column: 1/2;
	}
	.activity_card2 {
		grid-row: 2/3;
		grid-column: 2/5;
	}
	.activity_card3 {
		grid-row: 3/4;
		grid-column: 2/7;
	}
	.activity_card4 {
		grid-row: 4/5;
		grid-column: 2/3;
	}
	.activity_card5 {
		grid-row: 2/3;
		grid-column: 6/7;
	}
	.activity_card6 {
		grid-row: 4/5;
		grid-column: 4/7;
	}
}

@media (max-width: 1100px) {
	.activity {
		row-gap: 2rem;
		grid-template-columns: 1fr;
		grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
	}
}

@media (max-width: 925px) {
	.activity {
	 	row-gap: 2rem;
	 	grid-template-columns: repeat(2, 1fr);
	 	grid-template-rows: auto 12rem 12rem 12rem;
	}
}

  @media (max-width: 650px) {
	.activity {
		row-gap: 2rem;
		grid-template-columns: 1fr;
		grid-template-rows: auto 12rem 12rem 12rem 12rem 12rem 12rem;
	}
}
.footer {
  background-color: #F2F2F2;
  width: 100%;
}

.footerColumnwrapper {
  display: flex;
  max-width: 100%;
  width: 1440px;
  margin: auto;
  padding: 0 32px;
  box-sizing: border-box;
}

.footerColumnwrapperColumn {
  width: 30%;
  padding: 32px 32px;
}

.footerColumnwrapperColumnLink {
  display: block;
  margin: 16px 0;
}

.footerColumnwrapperColumnLink:hover {
  text-decoration: underline;
}