*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
}

p{
	margin-top: 3px;
	font-size: 16px;
}
a{
text-decoration: none;
color: #0065FC;
}

a:visited{
text-decoration: none;
color: #0065FC;
}

h2{
	font-size: 16px;
	font-weight: normal;
	color: black;
	padding: 30px;
	margin-top: 27px;
}

h3{
	font-size: 16px;
	font-weight: normal;
	padding: 35px;
	border-top: 2px solid #0065FC;
}

h4{
	padding: 30px;
	margin-top: 27px;
}
.black{
	text-decoration: none;
	color: black;
}
.header{
	width: 100%;
	height: 80px;
	display: block;
}

.inner-header{
	width: 90%;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.logo{
	margin-top: 40px;
	height: 100%;
	display: table;
	float: left;
}

.nav{
	float: right;
	height: 100%;
}

.nav a{
	height: 100%;
	display: table;
	float: left;
	padding: 0px 20px;
}

.nav a:last-child{
	padding-right: 0;
}

.nav a li{
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	font-size: 16px;
}

.txt{
	margin-top: 40px;
	margin-left: 5%;
	font-size: 12px;
}

h1{
	font-style: bold;
}

.box{
	position: absolute;
	margin-top: 40px;
	margin-left: 18%;
	width: 500px;
	height: 50px;
	transform: translate(-50%,-50%);
}

input{
	position: relative;
	display: inline-block;
	font-size: 20px;
	border: 1px solid grey;
	box-sizing: border-box;
}

input[type="text"]{
	width: 250px;
	height: 50px;
	outline: none;
	padding: 0 25px;
	border-radius: 20px 0 0 20px;
	border-color: #D9D9D9;
}

input[type=submit]{
	position: relative;
	border-radius: 0 15px 15px 0;
	width: 150px;
	height: 50px;
	border: none;
	outline: none;
	cursor: pointer;
	background: #0065FC;
	color: #fff;
}

input[type="submit"]:hover{
	transition: .5s;
	background: #0064EC;
}

.filter{
	margin-top: 110px;
	margin-left: 5%;
}